.react-calendar-custom {
  width: 100%;
  border: none !important;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.react-calendar__tile--now {
  background: #fee2e2 !important;
  color: #b91c1c !important;
  border-radius: 8px;
}

.react-calendar__tile--active {
  background: #b91c1c !important;
  color: white !important;
  border-radius: 8px;
}