@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input {
  @apply w-full px-4 py-2 rounded-lg border border-gray-200 bg-white focus:ring-2 focus:ring-blue-200 focus:outline-none;
}

.input-disabled {
  @apply w-full px-4 py-2 rounded-lg border border-gray-200 bg-gray-100 text-gray-600 cursor-not-allowed;
}

.btn-primary {
  @apply px-5 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700;
}

.btn-secondary {
  @apply px-5 py-2 rounded-lg bg-gray-100 text-gray-800 hover:bg-gray-200;
}

.calendar-icon {
  @apply absolute left-3 top-3 text-gray-400 cursor-pointer;
}
